.screen {
	width: 100vw;
	height: 100vh;
}

.nummer {
    border-style:solid;
    border-radius:1em;
    width:2em;
    overflow:hidden;
    vertical-align:middle;
    text-align:center;
    width:2em;
    display:inline-block;
}
.nummer[data-found] {
    background-color:black;
}

.g1 {
    max-width: 40em;
    margin:auto;
}

[data-type=function],[data-type=undefined] {

	display:none;
}

